<h1>タスク編集画面</h1>
  注：登録ボタンを押すとupdateアクションに処理が飛ぶ
<%= form_for @task do |f| %>
<div>
  <%= f.text_field :title %>
  <%= f.label :title %>
</div>

<div>
  <%= f.text_field :content %>
  <%= f.label :content %>
</div>

<div>
<%= f.submit %>
</div>

<%= link_to '戻る',tasks_path %>
<% end %>
